<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreAppleID</key>
	<string>6771475177</string>
	<key>RevenueCatAPIKey</key>
	<string>appl_rvLSfKMEPGwoMicqywylEfEJBaf</string>
	<key>PostHogProjectToken</key>
	<string>phc_mx4iotWVrbAaqtNH479GbbPg9gbYjezWWKaP4My5vDkv</string>
	<key>PostHogHost</key>
	<string>https://us.i.posthog.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>tiktok</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mikihill.GlanceSAT</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glancesat</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
